(default) {
  tls {
    issuer acme {
      dns cloudflare {env.CLOUDFLARE_API_TOKEN}
      resolvers 1.1.1.1 8.8.8.8
      propagation_timeout -1
      propagation_delay 10m
    }
  }
}

irene.foo {
  import default irene.foo
  respond ":3"
}

bitwarden.irene.foo {
  import default bitwarden.irene.foo
  reverse_proxy 127.0.0.1:8222
}

snugglebum.irene.foo {
  import default snugglebum.irene.foo
  reverse_proxy 127.0.0.1:3000
}

gitea.irene.foo {
  import default gitea.irene.foo
  reverse_proxy 127.0.0.1:4001
}
